@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

.Deck {
  font-family: 'Slabo 27px', serif;
}

.Deck-cards {
  margin-top: 80px;
}

.Deck-title {
  color: azure;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
}